/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@meyer-reset @import "includes/typo";
#header {
  position: fixed;
  top: 25px;
  left: 35px;
  height: 7vh;
  overflow: hidden; }
  #header #logo {
    float: left; }
    #header #logo img {
      height: 100%;
      margin: 0 20px; }
  #header #searchbox {
    float: left; }

#main {
  float: left;
  width: 100%;
  overflow: hidden;
  height: 100vh; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#header {
  background: #555;
  padding: auto;
  margin: 0;
  height: 50px;
  padding: 0;
  -webkit-border-radius: .6em;
  -moz-border-radius: .6em;
  border-radius: .6em;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc; }
  #header #searchbox {
    margin-top: 12px; }
    #header #searchbox form {
      width: 180px;
      height: 80px; }
      #header #searchbox form input {
        -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.24);
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
        width: 140px;
        height: 25px;
        border: none;
        text-align: center;
        transition: all 0.2s; }
        #header #searchbox form input:focus {
          background-color: #fff;
          width: 160px;
          margin-left: 0;
          height: 35px;
          margin-top: -5px; }

#graph {
  padding: 0;
  margin-bottom: -4px; }
  #graph svg {
    background: rgba(0, 0, 0, 0.05);
    width: 100%; }
    #graph svg text:hover {
      fill: #259b24; }
    #graph svg path {
      fill: none;
      stroke: #fff;
      stroke-width: 3px;
      mix-blend-mode: multiply; }
    #graph svg text {
      font-family: "Work Sans", sans-serif;
      fill: #333;
      font-size: 12px; }

#plot svg {
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100vh; }
  #plot svg circle {
    mix-blend-mode: multiply;
    cursor: pointer;
    cursor: hand; }
  #plot svg .tick line {
    stroke: lightgrey;
    opacity: 0.7; }
  #plot svg text {
    font-family: "Work Sans", sans-serif;
    fill: rgba(0, 0, 0, 0.5);
    pointer-events: none; }
#plot select {
  position: fixed;
  bottom: 25px;
  right: 30px;
  padding: 7px;
  border: 1px solid #CC;
  font-size: 16px;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/caret-up.png) no-repeat 95% #EEE;
  background-size: 10%; }
#plot #scatterplot-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  transition: all 0.5 linear;
  min-width: 250px;
  max-width: 600px; }
  #plot #scatterplot-modal h3 {
    margin: 0 10px;
    text-transform: uppercase; }
  #plot #scatterplot-modal #close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    text-decoration: none; }

.react-sanfona {
  border: 1px solid #ccc;
  border-radius: 3px; }

.react-sanfona-item-title {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  padding: 5px;
  text-transform: uppercase;
  transition: background-color .3s; }
  .react-sanfona-item-title a.word-remove {
    padding-right: 3px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    font-weight: lighter;
    float: right; }
    .react-sanfona-item-title a.word-remove:hover {
      color: #212121; }
.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none; }
.react-sanfona-item-expanded .react-sanfona-item-title {
  background-color: #FFF; }
.react-sanfona-item-body-wrapper {
  color: #666;
  padding: 10px 0;
  position: relative;
  max-height: 150px;
  overflow-y: scroll; }
  .react-sanfona-item-body-wrapper:hover .tooltip {
    opacity: 1; }
.react-sanfona-item img {
  display: block;
  max-width: 100%; }
.react-sanfona-item ul {
  font-size: .8em;
  list-style-type: none;
  margin: 5px 0;
  padding: 0; }
  .react-sanfona-item ul li {
    padding: 5px 10px;
    margin: 0; }
    .react-sanfona-item ul li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7); }
    .react-sanfona-item ul li:nth-child(odd) {
      background: rgba(0, 0, 0, 0.05); }

body {
  margin: 0;
  overflow: hidden;
  background-color: white;
  color: white;
  font-family: "Work Sans", sans-serif; }

/*# sourceMappingURL=style.css.map */
